doctype 5
html(lang="en")
    head
        title=document.title
        // TODO: Favicon
        //link(rel="shortcut icon", type="image/x-icon", href="/favicon.ico")
        meta(author=site.author)
        meta(description=site.description)
        meta(generator="docpad")
        meta(keywords="Forkk,programming,development,coding,C++,C,Haskell,Python,JavaScript,MultiMC,Minecraft,mods,Web development")

        link(rel="stylesheet", href="/assets/css/uikit.forkk.min.css")
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Droid+Sans")
        script var _sf_startpt=(new Date()).getTime()
    body
        .uk-navbar.uk-navbar-attached
            .uk-container.uk-container-center.uk-margin-top
                a(href="/").uk-navbar-brand
                    h2.top-bar.uk-float-left.uk-margin-top-remove.uk-margin-bottom-remove
                        | #{site.title}
                        small.uk-h3.uk-margin-left #{site.subtitle}

        .uk-container.uk-container-center.uk-margin-top
            .uk-grid(data-uk-grid-margin data-uk-grid-match="{target:'.uk-panel'}")

                // Nav entry mixin
                mixin navEntry(title, url)
                    li(class=document.url == url ? "uk-active" : "")
                        a(href=url) #{title}

                // Navbar
                .uk-width-medium-1-4
                    .uk-panel.uk-panel-box
                        h3.uk-panel-title Navigation
                        ul.uk-nav.uk-nav-side(data-uk-nav)
                            // The homepage is special, since we want to link to "/", but its document.url will be "/index.html"
                            li(class=document.url == "/index.html" ? "uk-active" : "")
                                a(href="/") Home
                            li.uk-nav-header Blog Posts
                            each post in getFilesAtPath("posts").toJSON().sort(function(a,b) { return (a.date > b.date) ? -1 : ((b.date > a.date) ? 1 : 0); } ).slice(0, 20)
                                +navEntry(post.title, post.url)

                .uk-width-medium-3-4
                    .uk-panel
                        include ads/top.html
                        article.uk-article!= content
            hr
            .uk-text-center
                p
                    | Copyright &copy; 2013-2014 Forkk
                    br
                    | Revision:
                    include ../../../last_commit.html
                    br
                    a(href="https://github.com/Forkk/forkk.net/blob/master/LICENSE", target="_blank") License
        script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
        script(src="/assets/js/uikit.min.js")
        script(src="/assets/analytics.js")

